@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
html,
body{
    background: #F5F5F5;
    height: 100%;
   
}

ul a{
    text-decoration: none;
    color: #989595;
    font-size: 12px;
}



.wrapper{
    position: relative;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
}



.header{
    width: 100%;
    height: 150px;
}

.header__logo{
    float: left;
    margin-top: 20px;   
}


/*

.menu{
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}


.menu ul li{
    padding: 5px;
    
}
.nav__ul > li {
    margin-left: 50px;
   
    
}
.menu ul>li>a:hover{
      color: #000;
}
.menu ul ul > li>a:hover{
    color: #000;
}

.menu ul li, .menu ul{
    display: inline-block;
}

.menu ul{
    position: relative;
    margin: 0;
    padding: 0;
    
}

.menu ul ul{
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 5px;
    margin-left: -5px;
}

.menu ul a{
    color: #989595;
    text-decoration: none;
}

.menu li:hover ul{
    display: block;
    z-index: 100000;
}

.menu li:hover li{
    display: block;
}
*/

.menu{
    float: right;
    margin-top: 60px;
}
.menu ul{
  padding: 0;
  margin: 0;
  display: table;
}
.menu li{
  display: table-cell;
  text-align: right;
  position: relative;
}
.menu ul ul {
  display: block;
  position: absolute;
  margin-left: -100px;
  height: 0;
  overflow: hidden;
  transition: height 0.8s 0.1s ease-out;

}
.menu ul ul a{
   background-color: #fff;
    opacity: 0.9;
   
}

.menu ul ul a:hover{
   color: #000;
}
a:hover{
    color: #000;
}
.menu ul ul li{
  display: block;

    
}
.menu a {
  
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  width: 100px;
  text-transform: uppercase;
}

.menu li:hover ul {
  /*display: block;*/
  height: 200px;
    z-index: 10000;
}

.menu__nickname{
    color: black;
    border: 1px dashed #868383;
}
/*
.menu__search{
    border-radius: 3px;
    height: 25px;
    width: 120px;
    background: url(/img/search.png) no-repeat 90%;
    background-size: 20px;
    background-color:#F5F5F5;
    border: 1px dotted #989595;
    outline: none;
    padding: 3px;  
}
*/


.block__log{
    width: 250px;
    height: 175px;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 1px 1px #868383;
   
}

.log__inp{
    width: 230px;
    height: 25px;
    text-align: center;
    margin-top: 18px;
    border-radius: 3px;
    outline: none;
    border: 1px dotted #868383;
}

.log__but{
    height: 35px;
    width: 90px;
    margin-top: 20px;
    margin-left: 10px;
    border: 3px;
    color: #868383;
    outline: none;
    float: left;
    
}
.log__but:hover{
    color:black;
    opacity: 0.5;
    
}


.log__string{
    float: right;
    margin-top: 25px;
    margin-right: 10px;
    color: #868383;
}



.content{
    padding-bottom: 90px;
    text-align: center;
    width: 100%;
}



.footer{
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px; 
    color: #989595;
}

.footer__ss>li{
    float: left;
    display: inline-block;
    margin-left: 10px;
}

ul>.test{
    float: right;
    opacity: 0.5;
}

.search{
    width: 300px;
    height: 20px;
    outline: none;
    border-radius: 3px;
    border: none;
    margin-left: 85px;
    background: #F5F5F5;
    text-decoration: underline;
}

/*CSS for ragistracia////////////////////////////////////////////////////////////---------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------*/

.name__reg{
    float: right;
    font-size: 30px;
    margin-top: -85px;
    margin-right: 349px;
    color: #989595;
    
}

input[type=number] {
    -moz-appearance:textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none; margin: 0px;
        }

.rega__list{
    margin-top: 10px;
}

.rega__list ul li{
    list-style-type: none;
    
}
.rega__list > ul > li > input{
    height: 30px;
    width: 400px;
    margin-bottom: 30px;
    text-align: center;
    outline: none;
     border-radius: 3px;
    outline: none;
    border: 1px dotted #868383;
}

 .check__box{
    margin-right: 220px;
}
.check__box__span{
    margin-left: -150px;
}

.rega__list > ul > li >button{
    height: 40px;
    width: 400px;
    border: 3px;
    color: #868383;
    outline: none;
    
}
.rega__list > ul > li> button:hover{
    color:black;
    opacity: 0.5;
    
}

/*--------------CSS for Notes----------------------------------------------------------------------////////////////////////////////////////////////////////////////////////////////////////////////*/

.create__note{
    width: 200px;
    height: 50px;
    margin-left: 30px;
    border: 3px;
    color: #868383;
    outline: none;
    font-weight: bold;
    font-size: 20px;  
}

.create__note:hover{
    opacity: 0.5;
}
.nav__ul  .my__profile {
  display: block;
  position: absolute;
  margin-left: 20px;;
  height: 0;
  overflow: hidden;
  transition: height 0.8s 0.1s ease-out;

}

.nav__ul  .my__profile li{
    text-align: center;
}


.block__nt{
    width: 280px;
    height: 280px;
    display: inline-block;
    outline: none;
    overflow: hidden;
    color: #868383;
    margin: 2px;
    margin-bottom: 20px;
    
}

.block__name{
    width: 280px;
    height: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.block__img{
    width: 280px;
    height: 200px;
    background: #fff;
    box-shadow: 1px 1px 10px black;
    padding: 1px;
    
    
}

.block__go{
    width: 280px;
    height: 40px;
    margin-top: 2px;
}

.go__button{
    height: 40px;
    width: 100px;
    border: 3px;
    color: #868383;
    outline: none;
    float: right;
    
}


.go__button:hover{
    color: black;
    opacity: 0.8;
}
.price{
    font-weight: bold;
    
}

.numbers > ul > li{
    display: inline-block;
    margin-left: 21px;
    font-size: 18px;
    float: left; 
}

/*--------------------------------------------------------------------------------------------
   CSS FOR MYbooks
---------------------------------------------------------------------------------------------*/

h1{
    color: #868383;
    text-align: left
}
.my__book{
    width: 1200px;;
    height: 200px;
    box-shadow: 2px 2px 20px black;
    margin-top: 10px;
    color: #868383;
}

.my__book__img{
    width: 200px;
    height: 200px;;
    background: black;
    float: left;

}

.my__book__list{
    width: 850px;
    height: 200px;
    float: left;
    margin-left: 10px;
}
.my__book__list > ul >li{
    list-style-type: none;
}

.book__name{
    font-size: 20px;
    font-weight: bold;
}

.book__author{
    font-style: italic;
}
.book__text{
    text-align: left;
    
}
.my__block__buttons{
    float: right;
    width: 140px;
    height: 200px;
}
.button__read{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #868383;
    outline: none;
    border: none;
}

.button__read:hover{
    opacity: 0.7;
}

/*=-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------CSS FOR CHAT-------------------------------------------------------------------------*/


.block__chat{
    width: 700px;
    height: 500px;
    margin: 0 auto;
}

.chat__line{
    width: 700px;
    height: 70px;
    border-bottom: 1px solid white;
    box-shadow: 2px 2px 10px black;
    outline: none;
    margin-bottom: 5px;
    
}
.chat__line:hover{
    opacity: 0.5;
}
.chat__text{
    width: 630px;
    height: 70px;
    float: right;
}

.user__name{
    width: 630px;
    height: 18px;
    font-weight: bold;
    color: #868383;
    text-decoration: underline;
}

.chat__mess{
    width: 625px;
    height: 45px;
    text-align: left;
    padding: 4px;
    color: #868383;
}

.user__color{ /*у каждого пользователя свой цвет в чате... рандомным.*/
    width: 70px;
    height: 70px;
    background-color:brown;
}

.delete__mess{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    display: none;
    color: white;
}

.user__color:hover .delete__mess{
    display: block;   
}

/*--------------------------------------------------------------------------------------------------------------------------------------css for OpenChat-------------------------------------------------------------------------*/



.box__nav{
    width: 100%;
    height: 50px;
    outline: none;
}


.box__chat{
    width: 100%;
    height: 400px;
    padding: 10px;
    text-align: left;
    box-shadow: 1px 1px 10px black;
    outline: none;
}

.box__buttons{
    width: 100%;
    height: 50px;
    outline: none;
}


.button__back{
    width: 90px;
    height: 95%;
    margin-bottom: 5px;
    float: left;
    border: 3px;
    outline: none;
    font-weight: bold;
    color: #868383;
    
}
.button__back:hover{
    opacity: 0.5;
    
}

.input__mess{
    width: 600px;
    height: 30px;
    padding: 3px;
    margin-top: 8px;
    float: left;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: #868383;
    opacity: 0.8;
    color: #dae5ff;
    font-size:large;
    
}


.button__go{
    float: right;
    width: 74px;
    height: 95%;
    margin-top: 5px;
    border: 3px;
    color: #868383;
    outline: none;
    font-weight: bold;
}
.button__go:hover{
    opacity: 0.5;
}


/*===============================================================================================================================css for CreateNote=====================================================//*/

.create__note__block{
    width: 900px;
    height: 450px;;
    background-color: aqua;
    margin: 0 auto;
}


.create__note  li{
    list-style-type: none;  
    margin-bottom: 5px;

}

.create__note  li input{
    width: 400px;
    height: 30px;
    margin-right: 500px;
}
















/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////css for OpenNote///////////////////*/

.book__img{
    width: 350px;
    height: 350px;
    float: left;
}

.book__inf{
    width: 650px;
    height: 350px;
    float: left;
    text-align: left;
    padding: 1px;
    box-shadow: 1px 2px 10px black;
    color: #868383;
}

.book__inf span{
    color: #000;
}

.book__inf > ul>li{
    list-style-type: none;
    margin-bottom: 10px;
    
}
.book__inf > ul>li>span{
    font-weight: bold;
}
.open__user__inf{
    width: 150px;
    height: 350px;
    float: right;
}


.open__user__nick{
    font-weight: bold;
}

.open__button{
    width: 150px;
    height: 50px;
    margin-top: 5px;
    border: 3px;
    color: #868383;
    outline: none;
    font-weight: bold;
}


.open__button:hover{
    opacity: 0.5;
}

.open__price{
    width: 150px;
    height: 200px;
    margin-top: 7px;
    
    
}
.open__price2{
    width: 150px;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    color: #000;
}

.open__buttons{
    width: 350;
    height: 55px;
    
}

.open__but1{
    width: 100px;
    height: 55px;
    float: left;
    border: 3px;
    color: #868383;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}

.open__but1:hover{
    opacity: 0.5;
}
.open__but2{
    width: 150px;
    height: 55px;
    float: right;
    border: 3px;
    color: #868383;
    outline: none;
    font-weight: bold;
    font-size: 20px;
}
.open__but2:hover{
    opacity: 0.5;
}

.open__user__nick a{
    text-decoration: none;
    color: #332f2f;
    font-size: x-large;
}

a{
    text-decoration: none;
    color: #9b9494;
    font-size:large;
}

.my__book__list a{
    text-decoration: none;
    color: #9b9494;
    font-size: large;
}